@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

/* shared part style in css */

.d-flex{
    display: flex;
}

.dark-1{
    color: #131313;
}

.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.dark-4{
    color: #A1A1A1;
}
.dark-5{
    color: #D0D0D0;
}
.dark-6{
    color: #E7E7E7;
}

.dark-7{
    color: #F3F3F3;
}

.btn-primary{
    background-color: #FF900E;
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
}

main > section{
   max-width: 1440px;
   margin: 0 auto;
}

.common-title{
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.cmn-pgrp-description{
    font-size: 1rem;
    margin-bottom: 20px;
}


/* nav part style in css */

header{
    background-color: rgba(255, 144, 14, 0.1);
    
}


.navbar{
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
}

.brand{
    font-size: 3rem;
    font-weight: 700;
}

.nav-links .nav-item{
    list-style: none;
    margin-right: 40px;
}

.nav-links .nav-item .nav-link{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

/* banner part style in css */

.banner{
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 0;
}

.banner-contain {
    max-width: 826px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}

.bnr_title{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
}


/* our feature part style in css */
.feature_main{
   margin-top: 100px;
   margin-bottom: 100px;
}

.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.feature-contain{
    max-width: 540px;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
}

.tilte-color{
    color: #FF900E;
  }

/* lovely part style in css */
.lovely_main{
    margin-top: 30px;
    margin-bottom: 100px;
}
.lovely_contain{
    max-width: 586px;
}
.lovely_title{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}

.lovely-box{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 40px;
}

.box-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.lovely_img{
    margin-left: 130px;
}

.lovely-btn{
    padding: 40px;
    font-size: 1.5rem;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    margin-left: -80px;
    margin-top: -100px;
}

.lovely-btn span{
    font-size: 3rem;
}

/* some fact part in css */
.some-fact{
    margin-bottom: 100px;
}
.fact_contain{
    max-width: 586px;
    margin-bottom: 50px;
}

.fact-container{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   justify-items: center;
}

.Fact-card{
    width: 241px;
    height: 241px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-img{
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
}

.fact-num{
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.fact-text{
    font-size: 1.25rem;
    font-weight: 600;
}

/* sponsore part in css */
.our-sponsors{
    margin-bottom: 100px;
}

.sponsors-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    filter: grayscale(1);
}
/* footer part css */
footer{
    background-color: #FFF4E7;
    max-width: 1440px; 
    margin: 0 auto;
    padding: 38px;
    font-size: 1.25rem;
    border-radius: 8px;
    text-align: center;
}

/* mobile device responsive style in css */
@media screen and (max-width:576px){
    .navbar,
    .nav-links,
    .feature_main,
    .lovely_main{
        flex-direction: column;
    }

    .feature-img{
        grid-template-columns: 1fr;
        justify-items: center;
        margin-bottom: 20px;
    }

    .feature-contain{
        margin-left: 40px;
        margin-right: 20px;
    }

    .lovely-btn{
       display: none;
    }
    .lovely_img{
        margin-left: 20px;
        margin-right: 20px;
    }

    .fact-container,
    .sponsors-companies{
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .fact_contain{
        margin-left: 20px;
    }

}

/* tablet device responsive style in css */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .navbar,
    .nav-links,
    .feature_main,
    .lovely_main{
        flex-direction: column;
    }
  
    .feature-img{
        justify-items: center;
        margin-bottom: 50px;
    }
    .lovely_contain{
        margin: 0 auto;
    }
    .lovely-btn{
        display: none;
     }
     .lovely_img{
         margin-left: 20px;
         margin-right: 20px;
     }

     .fact-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .sponsors-companies{
        grid-template-columns: repeat(3,1fr);
        gap: 50px;
    }

    .fact_contain{
        margin-left: 20px;
    }

}